<div class="container">
    <h1 id="title">MENORCA - PREGONDA <i class="fa-solid fa-umbrella-beach"></i></h1>
    <img id="body-bg" src="./assets/images/bg-pregonda.jpg">
    <h2 id="menorca">Menorca</h2>
    <p>La playa de Pregonda esta situada en una pequeña isla del mar mediterraneo llamada Menorca. Menorca es conocida
        por sus playas de arena blanca y sus aguas cristalinas, es un destino popular para aquellos que buscan sol y
        relax. La isla cuenta con una gran variedad de paisajes, desde acantilados impresionantes hasta bosques de pinos
        y campos verdes. Además, Menorca es rica en historia y cultura, con numerosos monumentos prehistóricos y restos
        romanos que se pueden visitar. Con una gastronomía basada en productos frescos y locales, la isla ofrece una
        experiencia culinaria única. Menorca es un lugar perfecto para disfrutar de unas vacaciones tranquilas y
        relajadas en un entorno natural de ensueño.</p>
    <h2 id="pregonda">Pregonda</h2>
    <div class="image-text-container">
        <p class="text-left-container">
            Pregonda es una playa ubicada en el norte de la isla de Menorca, en España. Esta playa destaca por su
            belleza
            natural y su entorno virgen. La arena es de un color dorado y está rodeada de acantilados rocosos, que le
            dan
            una sensación de aislamiento y tranquilidad. Además, las aguas cristalinas del mar Mediterráneo son
            perfectas
            para nadar y bucear, ya que permiten ver la gran variedad de vida marina que habita en la zona.
        </p>
        <p class="ml">
            <img class="image-left-container" src="./assets/images/pregonda-l.jpg">
        </p>
    </div>
</div>
<div class="full-container">
    <div class="container">
        <p>
            Una de las particularidades de Pregonda es que no cuenta con servicios turísticos como restaurantes o
            chiringuitos, lo que la convierte en un lugar ideal para aquellos que buscan alejarse de las multitudes
            y
            disfrutar de la naturaleza en su estado más puro. Sin embargo, es importante tener en cuenta que es
            necesario
            llevar todo lo necesario para la estancia en la playa, incluyendo comida y bebida, ya que no hay tiendas
            cercanas.
        </p>
    </div>
</div>
<div class="container">
    <div class="image-text-container">
        <p class="mr">
            <img class="image-left-container" src="./assets/images/pregonda-r.jpg">
        </p>
        <p class="text-left-container">
            Pregonda es una playa que se encuentra en una zona protegida y forma parte del Parque Natural de la Albufera
            des
            Grau, lo que significa que su entorno natural está cuidado y protegido. Además, la playa cuenta con acceso
            para
            personas con movilidad reducida y se puede llegar a ella a través de un sendero desde la carretera, lo que
            la
            hace accesible para todos. En resumen, Pregonda es una playa ideal para aquellos que buscan una experiencia
            auténtica y tranquila en un entorno natural impresionante.
        </p>
    </div>
</div>
